<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('layout/layout') -%>


<form method="post" id="uploadForm" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" id="userPhotoInput">
    <input type="submit" value="Submit">
</form>

<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
