<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('layout/layout') -%>

<!--<div id="shit">dfgdf</div>-->


<script>
/*    $("#shit").on("click", function() {
        window.open("http://api.vkontakte.ru/oauth/authorize?client_id=4255803&scope=notify&Coffline&Cnohttps&Cwall&redirect_uri=http://localhost:3000/add_good&response_type=token");
    })*/


  //  $.get("http://api.vkontakte.ru/oauth/authorize?client_id=104127285&scope=wall&redirect_uri=http://localhost:3000&response_type=token", function(data) {
        //console.log(data);
  //  })

    //window.open("http://api.vkontakte.ru/oauth/authorize?client_id=104127285&scope=wall&redirect_uri=http://localhost:3000&response_type=token");


/*    $.getScript('http://vk.com/js/api/openapi.js', function() {

// Initialize VK OPEN API
        VK.init({
            apiId: 4255803
        });

// Post node to vk wall
        VK.Api.call(
                'wall.post',
                {
                    owner_id: '104127285', // '-9089845' минус оставляем для группы'
                    message: 'sasd'
                },
                function(response) {
// If captcha needed.
                    console.log(response);
                }
        );

    });*/
</script>
