<div class="col-lg-10">
    <h2 style="font-family: Verdana">{{firm_detail.name_rus}}</h2>
    <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: justify">
        <!--<a class="product-detail-lightbox colorbox hidden-phone cboxElement" rel="colorbox1" href="img/product_01.jpg" title="Product A">-->
        <div class="img-outer col-md-12 col-sm-12 text-center" style="display: inline-block;  " >
           <img  ng-src="{{firm_detail.image}}"  style="max-width: 300px" class="col-md-12 col-sm-12" alt=""/>
        </div>
          {{firm_detail.description}}
    </div>
</div>