<span>
    <div class="modal fade modal-open" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 65%; overflow: hidden">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                    <h4 class="modal-title">{{ product_detail.title }}</h4>
                </div>
                <div class="modal-body"  ng-transclude>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</span>