<style type="text/css">
        /*.up {*/
        /*height: 200px*/
        /*}*/
        /*.row > .col-lg-3 {*/
        /*display: inline-block !important;*/
        /*vertical-align: middle !important;*/
        /*float: none !important;*/
        /*text-align: center;*/

        /*}*/

        /* Relevant Positionning */

    .row [class*="col-lg"] {
        height: 210px;
        padding-bottom: 210px;
        position: relative;
        margin-left: 10PX;
    }
    .row [class*="col-lg"] .img-outer{
        height: 210px;
        line-height: 210px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        bottom: 0;

        /* Take the whole width */
        left: 0;
        right: 0;
    }

    .row [class*="col-lg"] .img-outer img {
        max-height: 200px;
        max-width: 200px;
    }
</style>
<div class="col-lg-10" style=" min-height: 1000px; border: 1px solid #000;">
              <span class="row">
              <span class="col-lg-3 thumbnail" >
                    <div class="img-outer">  <img src="img/sushi/carstvo.gif"  alt=""/> </div>
              </span>
              <span class="col-lg-3 thumbnail" >
                                  <div class="img-outer"> <img src="img/sushi/foodband.gif" alt=""/>  </div>
              </span>
              <span class="col-lg-3 thumbnail">
                                  <div class="img-outer"> <img src="img/sushi/panda.png" alt=""/>  </div>
              </span>
                  </span>
                  <span class="row" >
                   <span class="col-lg-3 thumbnail" >
                                  <div class="img-outer"> <img src="img/sushi/tanuki.png" alt=""/>  </div>
              </span>
              <span class="col-lg-3 thumbnail">
                                  <div class="img-outer"> <img src="img/sushi/yakitoria.png" alt=""/>   </div>
              </span>
              <span class="col-lg-3 thumbnail">
                                 <div class="img-outer">  <img src="img/sushi/yaposha.png"  alt=""/>   </div>
              </span>

                  </span>

</div>
</div>