<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('../layout/layout') -%>




    <% if (typeof error != "undefined") {  %>

    <div class="alert alert-danger">

    <%       for (var i in error) {    %>

    <%- error[i].message  %>
    <br/>

    <%  } %>

    </div>

    <% } %>


<form method="post" id="uploadForm" enctype="multipart/form-data"  enctype="multipart/form-data" action="/add_company" method="post">

    <strong>Выберите изображение для загрузки</strong><br>
    <input type="file" name="file" id="userPhotoInput">
    <br><br>

    <div class="form-group">
        <label><strong>Введите название (например, Белые розы)</strong></label><strong>
        <input class="form-control" type="text" name="name">
    </strong></div>

    <strong>

    <!--<div class="form-group">
        <label><strong>Введите короткое описание</strong></label>
        <input class="form-control" type="text" name="snippet">

    </div>


    <div class="form-group">
            <label><strong>Введите название на английском (например, citypizza) - логин</strong></label>
            <input class="form-control" type="text" name="name">

    </div>

    <div class="form-group">
        <label><strong>Введите пароль для компании*</strong></label>
        <input class="form-control" type="text" name="company_password">
    </div>

    <div class="form-group">
        <label><strong>Введите email для компании*</strong></label>
        <input class="form-control" type="text" name="email">
    </div>

    <div class="form-group">
        <label><strong>Введите телефон для компании*</strong></label>
        <input class="form-control" type="text" name="phone">
    </div>


    <p style="font-size:9px">* - поля, обязательные для заполнения </p>-->

        <div class="form-group">
            <label><strong>Выберите раздел</strong></label>
            <div>
                <select name="department">
                    <% for (var i = 0; i < departs.length; i++) { %>

                    <option value="<%- departs[i]._id %>" ><%- departs[i].rusname %></option>

                    <% } %>

                </select>
            </div>

        </div>





        <div class="form-group">
            <label><strong>Введите короткое описание</strong></label>
            <input class="form-control" type="text" name="snippet">

        </div>

<!--        <div class="form-group">
            <label><strong>Введите название  на русском</strong></label>
            <input class="form-control" type="text" name="name_rus">
        </div>-->

<!--        <div class="form-group">
            <label><strong>Введите полное описание </strong></label>
            <textarea class="form-control" name="description"></textarea>
        </div>-->


        <!--<div class="form-group">
            <label><strong>Введите цену доставки </strong></label>
            <input class="form-control" type="text" name="delivery_price">
        </div>

        <div class="form-group">
            <label><strong>Введите минимальную цену блюда компании</strong></label>
            <input class="form-control" type="text" name="min_price">
        </div>-->







    <p>
        <label>
            <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Отправить!">
        </label>
        <br>
    </p>


</strong>
</form>

<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
