<!DOCTYPE html>
<html>
<head>
  <title><%=blocks.title%></title>
  <%-partial('../partials/bootstrapCss')%>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script type="text/javascript" src="/javascripts/main.js"></script>

</head>
<body>
  
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <%-body -%>

</section>

</body>
</html>